@import './base.css';

#app {
  padding: 1rem;
}
main {
  height: calc(100vh - 120px);
  width: 100%;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    padding: 1rem;
  }
}

.full-height {
  height: 100%;
}